:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --gray: #6b7280;
}

* {
  box-sizing: border-box;
  font-family: "Catamaran", sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--dark);
  color: #fff;
}
body header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}
body header .form {
  display: flex;
  text-align: center;
  justify-content: center;
}
body header #new-task-inp {
  width: max-content;
  flex: 1 1 0%;
  background-color: var(--darker) !important;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}
body header #new-task-inp::placeholder {
  color: var(--gray);
}
body header button {
  color: var(--pink) !important;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  cursor: pointer;
  transform: 1sec;
}
body header button:hover {
  opacity: 0.8;
}
body header button:active {
  opacity: 0.67;
}
body input,
body button {
  outline: none !important;
  background: none !important;
  border: none !important;
}
body .display-tasks {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
}
body .display-tasks h2 {
  font-size: 2rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}
body .display-tasks .task {
  display: flex;
  justify-content: space-between !important;
  background-color: var(--darkest);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
body .display-tasks .task .content .text {
  color: var(--light);
  font-size: 18px;
  width: 100%;
  display: block;
  transition: 0.4s;
}
body .display-tasks .task .content .text:not(:read-only) {
  color: var(--pink);
}
body .display-tasks .task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  border-radius: 5px !important;
  padding: 5px !important;
}
